html,body{
	overflow: auto;
	height: 100%;
}
.bgBody{
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	overflow: hidden;
}
.bg{
	background-repeat: repeat;
}

#alttext-container{
	border: none !important;
}
a,.lblOption{
	font-size: 10pt !important;
}
p{
	font-size: 14pt;
	margin-bottom: 14px;
}
h1{
	font-size: 22pt;
	margin-top: 3pt;
}
header{
	padding-top: 10px;
}
header .logoCompany{
	height: 80px;
	width: 80px;
}
header .nameCompany{
	height: 80px;
    line-height: 64px;
    font-size: 24pt;
}
header .iconOption{
	height: 50px;
	width: 50px;
}
header .lblOption{
	text-align: center;

}
section{
    margin-top: 6.5%;
    margin-bottom: 6.5%;
}
.sectionSock{
	position: relative;
	margin-bottom: 2.5%;
}
.sectionStore{
	margin-bottom: 1.5%;
	/*opacity: 0;
    -webkit-transform: translate3d(-15px,0,0);
    transform: translate3d(-15px,0,0);*/
}
.sectionStore section{
	margin-top: 2.5%;
}
.storeList {
    margin-bottom: 85pt;
}
.translateX{
    -webkit-transform: translate3d(0px,0,0) !important;
    transform: translate3d(0px,0,0) !important;
    opacity: 1 !important;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
}

#lblMessageResultProducts,
#lblMessageNoStores,
#invalidPassword{
	font-size: 16pt;
}

#skuCode::-ms-clear {
    display: none;
}

footer .navbar-fixed-bottom{
	height: 70px;
}


.form-group{
	margin-bottom: 0;
}

.form-control{
	height: 55px;
	border-radius: 0;
	font-size: 26pt;
}

.deleteButton{
	cursor: pointer;
	padding:  6px 9px;
	border: none;
	border-radius: 0;
}
.areaDomain .ui-selectmenu-button span.ui-selectmenu-text{
	padding: 0.1em 1em 0.4em 0.2em;
}
.input-group-btn span.lblArroba{
	height: 100%;
	padding: 0 12px;
	line-height: 20pt;
	font-size: 20pt;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.ui-selectmenu-button{
	width: 80% !important;
}
.lblMessageOtherDomain{
	opacity: 1;
	position: absolute;
    left: 0;
    bottom: -24pt;
    font-size: 14pt;

}
.areaDomain{
	padding: 0;
}
#selectDomain,
#selectSendDomain,
#selectRecoveryDomain{
	height: 100%;
	padding: 0 12px;
	font-size: 20pt;
    display: inline-block;
    padding: 8px 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

.eac-sugg{
  font-size: 20pt;
  /*padding-left: 40pt;*/
}
.eac-cval{
	width: 100%;
}

#rowProductDescription{
	position: relative;
}
#rowLongDescription{
	position: absolute;
	z-index: 1010;
	top:0;
}

.shortDescription,
#relatedItemsTitle{
	margin-top: 12pt;
	margin-bottom: 5px;
}

.productsRelated{
	margin-top: 0;
	margin-bottom: 1%;
}
.productBaseView{
	margin-bottom: 0pt;
}
.productBaseView section{
	margin-top: 12px;
}
.lblStyle{
	padding-left: 0;
}
.iconOption{display: inline-block;}
.imgIcon{
  width: 40px;
  height: 29px;
  margin: 4px auto 0;
  display: block;
}
.imgIconShort{
	width: 30px;
	height: 30px;
}
.zoom {
	display:inline-block;
	position: relative;
}
.zoom img {
	display: block;
	width: 100%;
}

.btn{
	padding: 6px 20px;
	border-radius: 0;
	font-size: 18pt;
	border: 0px solid white;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.btn:active{
	transform:translate3d(0,3px,0);
	-webkit-transform:translate3d(0,3px,0);
}
.btnBlue{
    padding: 6px 20px;
}
.btn.noContent{
	border: none;
}

.carousel{
	margin-top: 4%;
	margin-bottom: 1%;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

.carousel-control{
	width: 0;
}
.left.carousel-control{
	left: -10px;
}
.right.carousel-control{
	right: -10px;
}

.thumbnail{
	background-color: inherit;border:none;
	margin-bottom: 0;
}
.thumbnail .caption{
	padding: 9pt 0;
}
.thumbnail  p:hover{
	text-decoration: none;
}

.caption p:nth-child(2) {
    font-size: 24pt;
    text-align: center;
    margin-bottom: 5px;
}
.thumbnail .caption p:first-child{
	text-align: center;
	height: 64px;
	margin-bottom: 5px;
}

.lblStyle,.lblAvailability,.lblPrice,.lblSize{
	font-size: 18pt;
	float: left;
	height: 50px;
	line-height: 50px;
}
.unitsLabel{

}
.txtStyle{
	font-size: 18pt;
	height: 50px;
	line-height: 50px;
}
#txtPrice{
	font-size: 24pt;
	line-height: 40px;
}

#lblWelcome,
#lblSizeChart,
#lblSelect{
	font-size: 28pt;
}
#lblWelcome{
	margin-top: 13pt;
}

.modal {
    overflow-y: hidden;
}
.modal-content{
	width: 100%;
	margin: 0;
	padding: 0 25%;
	border-radius: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.modal-dialog{
	width: 100%;
	padding: 0;
}
.modal-backdrop.in{
	opacity: 0.9;
}
.modal-header{
	border-bottom: none;
}
.modal-footer{
	border-top: none;
	margin-top: 0;
}

.no-available{
	font-size: 22pt;
}

.available{
	font-size: 24pt;
	white-space: nowrap;
}

.stock{
	height: 32px;
	padding: 0;
	padding-top: 3pt;
	text-align: center;
	font-size: 22pt;
}

#homeScreen{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto auto;
}
#homeScreen .homeScreen{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto auto;
	text-align: center;
}

.nav-tabs>li{ text-transform: uppercase;}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	text-align: center;
	font-size: 26pt;
	border: none;
}
.table-bordered{
	border: none;
}

.nav-tabs.nav-justified>li>a{
	height: 80pt;
	line-height: 64pt;
	font-size: 26pt !important;
	border: none;
	border-radius: 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{
	border: none;
}

#tabs-sizes {
    position: relative;
    height: 107px;
}
/*en el index*/
.sectionConfig{
	/*bottom: 80pt;*/
}
/*en el config.html*/
.configTitleSection{
	margin-top: 48pt;
}
.optionConf{
	margin-top: 32pt;
}
.optionConf div div>span:not(.areaDomain){
	width: 40%;
} 
.optionConf div div{
	width: 100%;
} 

#lbltitleConfig,
#lbltitleChangePass{
    margin-top: 6%;
    margin-bottom: 2%;
	font-size: 26pt;
}


#configPanel .extruder-content{
	height: 220px !important;
}

#configPanel.extruder.right .ext_wrapper{
    bottom: 0 !important;
    top: 300px !important;
}
#configPanel.extruder.right .flap{
	top: 85px !important;
}

.btnLink{
	display: table;
	text-align: center;
	margin: auto;
	float: none;
}

a.thumbnail,a.thumbnail:hover,a.thumbnail:focus{
	text-decoration: none ;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
}

#txtColor{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Carousel OSEA*/
#myCarousel2{
	margin-top: 0px;
}
.carousel-inner div div{
	margin-bottom: 20pt;
}
.r{
	font-size: 24pt;
}
.l{
	font-size: 24pt;
	line-height: 50px;
}

.modal-content{
		padding: 0 20%;
}

.mainImage {
    width: 100%;
    height:100%;
    background-size: 100% 100%;
}

.relatedSmallImage {
    width: 100%;
    height: 100%;
    background-size: 100% 100%
}

.optionsList .list-inline>li{
	padding-right: 0;
	padding-left: 0;
	width: 10%;
}

.descriptionDetail{
	text-align: justify;

}
.descriptionTitle {
    text-align: left;
    display: block;
}

.descriptionDetail {
    /*overflow: auto;*/
    width: 100% !important;
    height: 50%;
    padding: 0 5px;
    /*border: 1px solid #b7b7b7;*/
}

.deleteBottom{
	margin-bottom: 10%;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

.nav-tabs.nav-justified {
	-webkit-transform: translateY(1px);
    transform: translateY(1px);
}

.loader {
  cursor: progress;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  margin: auto;
  background-repeat: repeat;
}

.loader .circle {
    position: fixed;
    width: 38px;
    height: 38px;
    opacity: 0;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}
.loader .circle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }
  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }
  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }
  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }
  76% {
    transform: rotate(945deg);
    opacity: 0;
  }
  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}

@media(max-width:767px){
	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
		font-size: 18pt;
	}
	.coolMessage{
		font-size: 12pt;
	}
	header .logoCompany {
	    height: 70px;
	    width: 70px;
	}
	.modal-content{
		padding: 0 5%;
	}
	.modal-footer .btn+.btn{
		margin-left: 0;
		margin-bottom: 10pt;
	}
	.modal-footer .btn{
		width: 100%;
		margin-bottom: 10pt;
	}
	h1{
		font-size: 18pt;
	}
	.txtStyle,.lblStyle, .lblAvailability, .lblPrice, .lblSize{
		height: 40px;
		line-height: 36px;
	}
	.lblStyle,.lblAvailability,.lblPrice,.lblSize{
		font-size: 16pt;
		line-height: 30px;
	}
	#txtPrice,.l{
		font-size: 18pt;
		line-height: 30px;
	}
	.available{
		font-size: 18pt;
	}
	.no-available{
		font-size: 18pt;
	}
	.thumbnail .caption p:first-child{
		height: 45px;
		font-size: 11pt;
	}
	.caption p:nth-child(2){
		font-size: 20pt;
	}
	.btnBlue,.btn{
		padding: 3px 15px;
		font-size: 14pt;
	}
}
@media(min-width:768px){
	.coolMessage{
		font-size: 15pt;
	}
	.container {
	    width: 668px;
	}
	.modal-content{
		padding: 0 10%;
	}
	footer .navbar-fixed-bottom{
		height: 70px;
	}


}
@media(min-width:992px){
	.container {
	    width: 860px;
	}
	a, .lblOption {
	    font-size: 14pt !important;
	}
	footer .navbar-fixed-bottom{
		height: 80px;
	}
}
@media(min-width:1200px){
	.container {
	    width: 1050px;
	}
	a, .lblOption {
	    font-size: 17pt !important;
	}
	footer .navbar-fixed-bottom{
		height: 90px;
	}
	.modal-content{
		padding: 0 20%;
	}
}
@media(min-width:1500px){
	.container {
	    width: 1280px;
	}
}

@media all and (orientation:landscape) {
  .bgBody {
    position: fixed;
    height: inherit; 
    bottom: inherit; 
	}
	body{
		margin-bottom: 0;
	}
	section {
    margin-top: 4.5%;
    margin-bottom: 4.5%;
	}
}
@media all and (orientation:portrait) {
    
}