<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Kiosko.net</title>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/scripts/scripts.js"></script>
	<script type="text/javascript" src="../js/plugins/toastr.min.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-ui.min.js"></script>
	
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/style.css" rel="stylesheet">
	<link href="../css/toastr.min.css" rel="stylesheet">
</head>
<body class="bg">

	<div class="sectionSock configTitleSection">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">

					<h1 id="lbltitleConfig">Configuration Store</h1>

				</div>
			</div>	
		</div>	
	</div>

	<div class="sectionSock blueSock">
		<div class="container">
			<section>
				<div class="row optionConf">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="lblArroba">Store No:</span>							
							</span>

							<input type="text" class="form-control" id="storeNo" autocomplete="off" />	

						</div>	
					</div>
				</div>
				<div class="row optionConf">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="lblArroba">Image Home:</span>							
							</span>
							<div class="fileUpload btn btn-primary">
							    <span>Upload Image Home</span>
							    <input type="file" class="form-control upload" id="imageHome"/>
							</div>	
							<input id="uploadFileHome" placeholder="Choose File" disabled="disabled" />				
						</div>	
					</div>
				</div>
				<div class="row optionConf">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="lblArroba">Image Logo:</span>							
							</span>
							<div class="fileUpload btn btn-primary">
							    <span>Upload Image Logo</span>
							    <input type="file" class="form-control upload" id="imageLogo"/>
							</div>	
							<input id="uploadFileLogo" placeholder="Choose File" disabled="disabled" />				
						</div>	
					</div>
				</div>	
				<div class="row optionConf">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="lblArroba">Image Background:</span>							
							</span>
							<div class="fileUpload btn btn-primary">
							    <span>Upload Image Background</span>
							    <input type="file" class="form-control upload" id="imageBackground"/>
							</div>	
							<input id="uploadFileBg" placeholder="Choose File" disabled="disabled" />				
						</div>	
					</div>
				</div>	
			</section>		
		</div>	
	</div>


	<div class="container">
		<footer class="row">
			<div class="navbar-fixed-bottom redSock">
				<div class="col-xs-12 text-center btnConfirm btn noContent" id="saveConfig">
					<div class="iconOption"><img src="../img/iconConfirm.svg" class="imgIcon"></div>
					<div class="lblOption">Save</div>
				</div>
			</div>			
		</footer>
	</div>

</body>
</html>